<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendForm()">
        <input type="text" 
            placeholder="Digite seu nome" 
            formControlName="name" 
            [class.valid]="contactForm.controls['name'].valid"
            [class.invalid]="contactForm.controls['name'].invalid &&
             (contactForm.controls['name'].touched || contactForm.controls['name'].dirty)"
        >
        <div *ngIf="contactForm.controls['name'].invalid &&
            (contactForm.controls['name'].touched || contactForm.controls['name'].dirty)">
            <small class="error-message" *ngIf="contactForm.controls['name'].hasError('minlength')">
                Esse campo precisa de no minimo 4 caracteres.
            </small>
            <small class="error-message" *ngIf="contactForm.controls['name'].hasError('required')">
                Este campo é obrigatório!
            </small>
        </div>
        <input type="text" 
            placeholder="Digite o assunto"
            formControlName="subject" 
            [class.valid]="contactForm.controls['subject'].valid"
            [class.invalid]="contactForm.controls['subject'].invalid &&
             (contactForm.controls['subject'].touched || contactForm.controls['subject'].dirty)"
        >
        <div *ngIf="contactForm.controls['subject'].invalid &&
            (contactForm.controls['subject'].touched || contactForm.controls['subject'].dirty)">
            <small class="error-message" *ngIf="contactForm.controls['subject'].hasError('minlength')">
                Esse campo precisa de no minimo 10 caracteres.
            </small>
            <small class="error-message" *ngIf="contactForm.controls['subject'].hasError('required')">
                Este campo é obrigatório!
            </small>
        </div>
        <input type="tel" 
            placeholder="(00) 0 0000-0000"
            mask="(00) 0 0000-0000"
            formControlName="phone" 
            [class.valid]="contactForm.controls['phone'].valid"
            [class.invalid]="contactForm.controls['phone'].invalid &&
             (contactForm.controls['phone'].touched || contactForm.controls['phone'].dirty)"
        >
        <div *ngIf="contactForm.controls['phone'].invalid &&
            (contactForm.controls['phone'].touched || contactForm.controls['phone'].dirty)">
            <small class="error-message" *ngIf="contactForm.controls['phone'].hasError('minlength')">
                Esse campo precisa de no minimo 11 caracteres.
            </small>
            <small class="error-message" *ngIf="contactForm.controls['phone'].hasError('required')">
                Este campo é obrigatório!
            </small>
        </div>
        <input type="email" 
            placeholder="Digite seu email"
            formControlName="email" 
            [class.valid]="contactForm.controls['email'].valid"
            [class.invalid]="contactForm.controls['email'].invalid &&
             (contactForm.controls['email'].touched || contactForm.controls['email'].dirty)"
        >
        <div *ngIf="contactForm.controls['email'].invalid &&
            (contactForm.controls['email'].touched || contactForm.controls['email'].dirty)">
            <small class="error-message" *ngIf="contactForm.controls['email'].hasError('email')">
                Esse campo precisa ser um email válido.
            </small>
            <small class="error-message" *ngIf="contactForm.controls['email'].hasError('required')">
                Este campo é obrigatório!
            </small>
        </div>
        <textarea maxlength="300" 
            rows="4"
            placeholder="Digite sua mensagem"
            formControlName="message" 
            [class.valid]="contactForm.controls['message'].valid"
            [class.invalid]="contactForm.controls['message'].invalid &&
             (contactForm.controls['message'].touched || contactForm.controls['message'].dirty)"
        ></textarea>
        <div *ngIf="contactForm.controls['message'].invalid &&
            (contactForm.controls['message'].touched || contactForm.controls['message'].dirty)">
            <small class="error-message" *ngIf="contactForm.controls['message'].hasError('minlength')">
                Esse campo precisa de no minimo 20 caracteres.
            </small>
            <small class="error-message" *ngIf="contactForm.controls['message'].hasError('required')">
                Este campo é obrigatório!
            </small>
        </div>
        <button [disabled]="contactForm.invalid">Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.640204007047!2d-46.80646240000001!3d-23.5813623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce55427d41dbb3%3A0xbbb18326692fe4fb!2sR.%20Pedro%20Alves%20de%20Oliveira%2C%2045%20-%20Jardim%20Primeiro%20de%20Maio%20(Chacara%20Fazendinha)%2C%20Osasco%20-%20SP%2C%2006147-065!5e0!3m2!1spt-BR!2sbr!4v1683058770015!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>R. Pedro Alves de Oliveira, 45 - Jardim Primeiro de Maio (Chacara Fazendinha), Osasco - SP, 06147-065</p>
    </address>
</section>